@import "../components/components-style";

#mount {
  margin-left: 20%;
  max-width: 80%;
}

.FormCharacter {
  display: inline-block;
}

input{
  margin-bottom: 5px;
}

.character-list {
  float: left;

}

